@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <b>email : hamdunsoft@gmail.com</b>
    <abbr title="Phone">P:xxxxxxxxxx</abbr> 
	 <b>hamdoonsoft.com</b>
</address>

<address>
    <strong>Khulna</strong>   
    <strong>Bangladesh</strong> 
</address>